<!-- Start #info-yabu -->

<div class="works-info" id="info-yabu"
  ng-class="{show: infoWindowOpen}"
  ng-click="prenventPropagation($event)">
  <div class="works-info-wrapper">
    <div class="works-info-content-wrapper">
      <div class="works-info-content">
        <p>
          <span style="color:#B3C69C;">Yabu no Naka</span> uses a tranquil green color scheme, which makes it ideal for personal blogs.</p>
        <p>I named it after a masterpiece of <a href="http://en.wikipedia.org/wiki/Ry%C5%ABnosuke_Akutagawa" target="_blank">Akutagawa Ryunosuke</a>.</p>
        <ul>
          <li>Responsive</li>
          <li>Ready for Retina</li>
          <li>Customizable</li>
          <li>10+ social network icons</li>
          <li>Available for ghost and Wordpress</li>
        </ul>
        <div class="works-copyright">
          <p>Click on the
            <span style="color:#A0B951;">Grass</span> icon to view Demo.</p>
          <p>Designed and coded by <a href="http://rakugaki.me">Art Chen</a>.</p>
          <p>Feb 21, 2014</p>
        </div>
      </div>
    </div>
    <div class="close-info-window" ng-click="closeInfoWindow()">
      <span class="icon-cross"></span>
      <span>Close</span>
    </div>
  </div>
</div>

<!-- End #info-yabu -->