<!-- Start #info-welcome -->
    
<div class="works-info" id="info-welcome">
  <div class="works-info-wrapper">
    <div class="works-info-content-wrapper">
      <div class="works-info-content">
        <p>Welcome to <span style="color:#D05C5A;">Rakugaki.me</span>!</p>
        <p>This website exhibits a selected collection of <span style="color:#FFB900;">Art Chen</span>'s designing and coding works since A.D.2014.</p>
        <p><span style="color:#FFB900;">Art Chen</span> is currently a full-time student, developer and amateur designer.</p>
        <div class="works-copyright">
          <p>Click on <span class="icon-menu7" style="display:inline-block;font-size:1.25em;vertical-align:middle;color:#fff;"></span> for external navigation.</p>
          <p>Click on <span class="icon-grid4" style="display:inline-block;color:#fff;padding:0px 2px;"></span> for internal navigation.</p>
          <p>Use <span class="icon-arrow-left4" style="display:inline-block;color:#fff;"></span> and <span class="icon-arrow-right4" style="display:inline-block;color:#fff;"></span> to travel between pages.</p>
          <p>Touch control supported.</p>
          <p>&copy; Art Chen. All rights reserved.</p>
        </div>
      </div>
    </div>
    <div class="close-info-window" data-info="welcome" ng-click="closeInfoWindow()">
        <span class="icon-cross"></span>
        <span>Close</span>
    </div>
	</div>
</div>

<!-- End #info-welcome -->