<div id="about" class="slide">

  <div class="slide-wrapper" id="container-resume">

    <!-- Start .logo -->

    <div class="logo">
      <div class="namecard" id="namecard">
        <div class="namecard-name">Art Chen</div>
        <div class="namecard-title">
          <span>Developer</span>
          <span>&</span>
          <span>Designer</span>
          <p>University of Wisconsin - Madison</p>
        </div>
        <div class="namecard-social">
          <a href="https://twitter.com/otakism" class="twitter" target="_blank">
            <span class="icon-twitter"></span>
          </a>
          <a href="https://plus.google.com/113350917149465350488" class="googleplus" target="_blank">
            <span class="icon-google-plus"></span>
          </a>
          <a href="http://weibo.com/otakism" class="sina-weibo" target="_blank">
            <span class="icon-sina-weibo"></span>
          </a>
          <a href="https://github.com/artchen" class="github" target="_blank">
            <span class="icon-github4"></span>
          </a>
        </div>
        <a class="view-resume md-trigger" href="resume.pdf" target="_blank">View Résumé</a>
      </div>
    </div>

    <!-- End .logo -->
    
  </div>

</div>