<div id="springtide" class="slide">

  <div class="slide-wrapper" id="container-springtide">

    <div class="logo">
      <div class="desc desc_1">
        <p>POSTHoneyBHiveRags</p>
        <p>toRichesFlexagonPr</p>
        <p>intersBlocksIngrain</p>
        <p>
          <span>Designer</span>edTheGirlin</p>
        <p>
          <span>Peiran</span>A<span>Tan</span>theMoon</p>
        <p>HorsePowerPartsUnk</p>
        <p>nownYoullLikeTaco</p>
        <p></p>
      </div>
      <div class="springtide-logo">
        <a id="springtide-logo" class="trigger" href="http://springtidepress.com" target="_blank"></a>
      </div>

      <div class="desc desc_2">
        <p>maYouSayTomatoISay</p>
        <p>TomatoISayPercolati</p>
        <p>onSheet<span>Shop</span>R<span>Owner</span></p>
        <p>sKeepit<span>Jessica</span>T<span>Spring</span></p>
        <p>CleanHustleAllAboa</p>
        <p>rdDamnGoodCoffee</p>
        <p>Springtidepresscom</p>
      </div>
    </div>

  </div>

</div>