<ul class="side-menu">
  <li>
    <a ng-click="gotoSlide('welcome', $event)" class="cf">
      <span class="menu-icon icon-home3"></span>
      <span class="menu-text">Home</span>
    </a>
  </li>
  <li class="menu-avatar">
    <a ng-click="gotoSlide('about', $event)" class="special-anchor-direct cf menu-about">
      <span class="menu-avatar-pic"></span>
      <span class="menu-text">Art Chen</span>
    </a>
  </li>
  <li class="menu-site">
    <a href="http://otakism.org" class="cf" target="_blank">
      <span class="menu-icon icon-quill4"></span>
      <span class="menu-text">Otakism.org</span>
    </a>
    <span class="lang-label">CN</span>
  </li>
  <li class="menu-site">
    <a href="http://rakugaki.me" class="cf"  target="_blank">
      <span class="menu-icon icon-pencil6"></span>
      <span class="menu-text">Rakugaki.me</span>
      <span class="lang-label">EN</span>
    </a>
  </li>
  <li class="menu-site">
    <a href="http://artifact.me" class="cf" target="_blank">
      <span class="menu-icon icon-embed"></span>
      <span class="menu-text">Artifact.me</span>
      <span class="lang-label">EN</span>
    </a>   
  </li>
</ul>